{
    "timeout": 10,
    "source": {
        "directories": [
            "Tests/Fixtures",
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "CastInt": {
            "ignore": [
                "SignpostMarv\\DaftTypedObject\\Fixtures\\MutableForRepository::ObtainId"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "SignpostMarv\\DaftTypedObject\\AbstractDaftTypedObjectRepository::__construct",
                "SignpostMarv\\DaftTypedObject\\AbstractDaftTypedObjectRepository::ForgetTypedObject",
                "SignpostMarv\\DaftTypedObject\\AbstractDaftTypedObjectRepository::UpdateTypedObject",
                "SignpostMarv\\DaftTypedObject\\Fixtures\\DaftTypedObjectMemoryRepository::UpdateTypedObject"
            ]
        }
    }
}
